.card-styling{
    margin-top: 30px;
}

.card-styling > div{
    padding: 15px 25px;
}

.card-footer{
    padding: 0px;
}

.card-footer p{
    font-size: 70%;
    margin: 0px;
}

.author{
    font-size: 70%;
}

.empty{
    margin-top: 30px;
}

.page-header{
    margin-top: 30px;
}

.notices-container{
    margin-left: 30px;
}