<div class="container">
    <br>
  <div>
    <h3 class="page-header messagenav">Messaging</h3>
    <p>Send messages to anyone, it's for all!</p>
  </div>
  <div>
    <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink = "/messages/inbox">Inbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink = "/messages/outbox">Outbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink = "/messages/newmessage">Compose</a>
          </li>
    </ul>
  </div>
  <br>
</div>