.mes-form{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.mes-form > p{
    font-size: 70%;
}

.mes-form > .form-group{
    margin-top: 15px;
}

.mes-form > .form-group > textarea{
    resize: none;
}

.ex{
    font-size: 70%;
}